# Ignore server build
build/

# Ignore client build
client/dist/

# Ignore server dependencies
node_modules/

# Ignore client dependencies
client/node_modules/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore logs
logs/

# Ignore testing coverage
coverage/
