# Ignore server build
build/

# Ignore client build
client/dist/

# Ignore server dependencies
node_modules/

# Ignore client dependencies
client/node_modules/

# Ignore environment files
.env
client/.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore logs
logs/

# Ignore testing coverage
coverage/
