.productCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}



.card {
  width: 100%;
  max-width: calc(25% - 10px);
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  text-align: start;
  overflow: hidden;
  text-transform: uppercase;
}

.sizeList ul {
  padding: 0;
}

.sizeList {
  padding: 0;
  margin: 0 auto;
  display: block;
  background-color: rgb(242, 241, 241);
  text-align: center;

}

.sizeList:hover {
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}


.card h2 {
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  height: 30px;
}


.card h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.card h4 {
  font-size: 12px;
  margin-bottom: 10px;
}

.color {
  color: #777;
}

.price {
  font-weight: 800;
  color: #000;
}

.card button {
  background: #1d1d1d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.wrapperItems {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #000;
}

.wrapperItems a {
  color: #000;
  text-decoration: none;
}

.card button:hover {
  background: #fff;
  color: #000;
}

/* Desktop >> */
@media(min-width: 768px) {
  .filterOpened {
    margin-left: 160px;
  }

  .wrapperItems {
    min-height: 130px;
    max-height: 140px;
    height: 100%;
  }

  .card {
    min-height: 520px;
    height: 100%;
  }

  .productCard {
    margin-top: 25px;
  }
}

/* anything else > */
@media (max-width: 1024px) {
  .card {
    max-width: calc(33.33% - 10px);
  }
}

@media (max-width: 767px) {
  .card {
    max-width: calc(50% - 10px);
  }
}