.img {
  margin: 0 auto 10px;
  max-height: 40px;
  max-width: 75px;
  width: auto;
}

.inner {
  max-width: 75%;
  margin: 0 auto;
  padding: 30px 20px;
}

.footer {
  display: flex;
  max-width: none;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
}

.list {
  flex-flow: column;
  font-size: 12px;
  text-align: center;
  align-items: center;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 300;
}

/* footer main */

/* module.css */

.footerMain {
  background-color: #000;
  padding: 20px;
  color: #333;
}

.footerContainer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footerColumn {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.footerHeading,
.followUs {
  font-size: 18px;
  margin-bottom: 10px;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinkItem {
  margin-bottom: 5px;
}

.footerSocialLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerSocialLinkItem {
  margin-right: 10px;
}

.footerSocialLink {
  color: white;

}

.wrapper {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.input {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
}

.subscribe {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.footerBottom {
  margin-top: 20px;
  text-align: center;
}

.footerText {
  color: white;
  font-size: 14px;
}

.input:focus {
  outline: none;
  box-shadow: none;
}




@media(max-width: 1199px) {
  .footer {
    flex-flow: wrap;
  }

  .follow {
    flex-direction: column;
    justify-content: center;
  }

  .list {
    flex: 0 0 50%;
  }
}

@media (max-width: 1199px) {
  .list {
    flex-flow: column;
    text-align: center;
    font-size: 12px;
    max-width: none;
  }


}

@media(min-width: 1199px) {
  .list {
    display: flex;
    flex-direction: row;
  }

  .list span {
    padding-left: 1vh;
  }
}

@media(min-width: 768px) {
  .subscribe {
    margin-left: 5px;
  }

  .input {
    margin: 0;
    width: 80%;
  }

  .footerSocialLinks {
    justify-content: center;
  }

  .followUs {
    text-align: center;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
  }

  .footerSocialLinks {
    justify-content: center
  }

  .followUs {
    text-align: center;
  }

  .input {
    max-width: 200px;
    width: 100%;
  }
}