.button {
  height: 40px;
  width: auto;
  top: -43px;
  background-color: rgba(29, 29, 29, 0.3);
  border: 2px solid #fff;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
  backdrop-filter: blur(30px) brightness(115%);
}


.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}