.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10px;
}

.imageContainer {
  margin-right: 20px;
}

.image {
  width: 500px;
  height: 650px;
  object-fit: cover;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  padding: 20px 25px;
  width: 50vh;
}

.collection {
  font-size: 18px;
  font-weight: bold;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.25;
  color: #777;
}

.name {
  padding-top: 5px;
  border-bottom: 1px solid #1d1d1d;
  font-weight: 700;
  padding-bottom: 5px;
  color: #1d1d1d;
  text-align: left;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 20px;
}

.price {
  padding-top: 10px;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 700;
  color: #1d1d1d;
}

.color {
  margin: 0 0 10px;
  display: block;
  font-size: 16px;
  color: #1d1d1d;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
}

.category,
.gender,
.sizeBlock {
  margin-top: 20px;
}

.addButton {
  margin-top: 30px;
}

.productComponent {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .imageContainer {
    margin-bottom: 20px;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .detailsContainer {
    margin: 0;
  }

  .collection {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .name {
    font-size: 20px;
    margin-top: 10px;
  }

  .price {
    margin-top: 5px;
  }

  .color {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .category,
  .gender,
  .sizeBlock {
    margin-top: 15px;
  }

  .addButton {
    margin-top: 20px;
  }
}

.toggleButton {
  font-size: 14px;
  max-width: 500px;
  width: 99%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-bottom: 5px;
  border-bottom: 1px solid #2f2f2f;
  font-weight: 700;
}

.toggleButton svg {
  margin-right: 10px;
}

.collapsed,
.expanded {
  max-width: 500px;
  width: 99%;
}

.toggleButton p {
  max-width: 500px;
  width: 99%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(10px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.Accordion {
  padding-top: 10px;
}

.AccordionContent {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.3s ease-in-out forwards;

}

.collapsed .AccordionContent {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.3s ease-in-out forwards;
}

.show {
  display: block;
}

.hide {
  display: none;
}



.description {
  text-transform: capitalize;
}