.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
}

.imageContainer {
  margin-right: 20px;
}

.image {
  width: 500px;
  height: 650px;
  object-fit: cover;
}

.detailsContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.collection {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.name {
  font-size: 24px;
  margin-top: 10px;
}

.price {
  margin-top: 10px;
}

.color {
  margin-top: 10px;
  margin-bottom: 10px;
}

.category,
.gender,
.sizeBlock {
  margin-top: 20px;
}

.addButton {
  margin-top: 30px;
}


@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .imageContainer {
    margin-bottom: 20px;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .detailsContainer {
    margin: 0;
  }

  .collection {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .name {
    font-size: 20px;
    margin-top: 10px;
  }

  .price {
    margin-top: 5px;
  }

  .color {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .category,
  .gender,
  .sizeBlock {
    margin-top: 15px;
  }

  .addButton {
    margin-top: 20px;
  }
}

.toggleButton {
  width: 99%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-bottom: 5px;
  border-bottom: 1px solid #2f2f2f;
}

.toggleButton svg {
  margin-right: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(10px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.returnPolicyContent {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.3s ease-in-out forwards;

}

.collapsed .returnPolicyContent {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.3s ease-in-out forwards;
}