.cart {
  border-bottom: 1px solid gray;
}

.cartBlock {
  color: black;
  background-color: white;
  right: 0;
  position: fixed;
  width: 32vh;
  z-index: 10;
  height: 100%;
  overflow-y: scroll;
}

.blockWrapper {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
}

.check {
  padding: 10px;
}

.emptyCartMessage {
  text-align: center;
  margin-top: 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(0, 0, 0);
  color: #fff;
  height: 70px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}

.heading h3 {
  margin: 0 auto;
}

.cart {
  padding-bottom: 5px;
}

.name {
  font-size: 14px;
  width: 100%;
  font-weight: 400px;
  line-height: 21px;
}

.cartBlock h3 {
  text-align: center;
  background: none;
}

.size {
  text-transform: uppercase;
}

.cartBlock ul {
  padding: 10px;
  margin: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.closeIcon {
  cursor: pointer;
  margin-right: 10px;
  min-width: 20px;
  min-height: 16px;
}

.wrapper {
  padding-left: 10px;
}

.itemName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemName svg {
  margin: 0;
}

/* quantitySelect */
.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.quantity {
  margin-right: 10px;
  font-size: 16px;
}

.summary {
  font-size: 16px;
  position: static;
  height: auto;
  width: auto;
  font-weight: 500;
  color: rgba(0, 0, 0, .5);
  text-align: left;
  padding: 10px 0;
}


.select {
  width: 60px;
  height: 30px;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  background-color: #fff;
}

.confirm {
  cursor: pointer;
  text-decoration: underline;
  padding-left: 10px;
}



@media(max-width: 768px) {
  .cartBlock {
    width: 100%;
  }

  .cartBlock img {
    width: 80px;
  }
}