.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
}

.wrapper p,
.wrapper span,
.wrapper svg {
  cursor: pointer;
}

.filter {
  border-bottom: 1px solid #000;
  padding: 16px;
  min-width: 150px;
  width: 100%;
  padding-left: 5px;
}



.filterHeader {
  display: flex;
  align-items: center;
}

.filterTitle {
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding-left: 5px;
  justify-content: flex-start;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.opened {
  border-bottom: 1px solid #000;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 5px;
}

.title p {
  color: #1d1d1d;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.25;

}

.filterTitle svg {
  align-items: center;
  margin: 0;
}

.filterOptions {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
}

.filterOption {
  display: flex;
  align-items: center;
}

.filterOption label {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.checkbox {
  margin-right: 5px;
}

.filterOpened {
  font-weight: bold !important;
}

@media(min-width: 768px) {
  .filterProductsOpened {
    height: 100%;
    position: absolute;
  }

  .wrapper {
    position: absolute;
    border: none;
  }
}