.wrapper {
  padding: 5px 15px 7px 0;
  border-bottom: 1px solid #707070;
  display: block;
  margin-top: 77.97px;
}

.wrapper a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  padding-left: 5px;
}

.wrapper span {
  padding-left: 5px;

}

@media (max-width: 767px) {
  .wrapper {
    margin-top: 50.47px;
  }
}