.header {
  margin: 0 auto;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  z-index: 3;
  color: #ffff;
}

.row {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid white;
  margin: 0 auto;

}

.mobileNav {
  flex-direction: column-reverse;
}

.mobileLogo {
  margin: 0 auto;
}

.header:hover {
  background: linear-gradient(to bottom, #1b1b1b, rgba(27, 27, 27, .8) 100%);

}

.scrolled {
  background: linear-gradient(to bottom, #1b1b1b, rgba(27, 27, 27, .8) 100%);
}

.burgerMenu {
  display: none;
  padding: 5px;
}

.burgerMenu svg {
  color: white;
}

.logo {
  width: 140px;
  padding-bottom: 5px;
  filter: brightness(0) invert(1);
}

.switcher {
  padding: 5px;
  display: flex;
  justify-content: end;
  text-align: center;
  align-items: center;
  color: #ffff;

}

.switcher p {
  padding: 5px;

}

.nav {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.links {
  color: #ffff;
  display: flex;
  justify-content: center;
}

.links li {
  padding-left: 10px;
  cursor: pointer;
}

.hovered {
  cursor: pointer;
}

.helpPannel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

img {
  width: 30%;
}

.ul {
  border-bottom: 1px solid white;
}

.mobileRow {
  align-items: center;
  display: flex;
}

.wrapper {
  display: flex;
}

@media (max-width: 767px) {
  .logo {
    max-height: 30px;
  }

  .burgerMenu {
    display: block;
  }

  .switcher {
    display: none;
  }
}

@media (max-width: 767px) {
  .links {
    display: none;
  }
}