.header {
  margin: 0 auto;
  padding: 0 5px 5px 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  z-index: 3;
  color: #ffff;
}

.dropdown {
  position: relative;
}

.open .dropdownMenu {
  display: block;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  min-height: 80px;
  right: 1%;
  margin-top: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
}

.dropdownMenu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.row {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid white;
  margin: 0 auto;

}

.mobileNav {
  flex-direction: column-reverse;
}

.mobileLogo {
  margin: 0 auto;
}

.header:hover {
  background: linear-gradient(to bottom, #1b1b1b, rgba(27, 27, 27, .8) 100%);

}

.scrolled {
  background: linear-gradient(to bottom, #1b1b1b, rgba(27, 27, 27, .8) 100%);
}

.burgerMenu {
  display: none;
  padding: 5px;
}

.burgerMenu svg {
  color: white;
}

.logo {
  width: 140px;
  padding-bottom: 5px;
  filter: brightness(0) invert(1);
}

.switcher {
  padding: 5px;
  display: flex;
  justify-content: end;
  text-align: center;
  align-items: center;
  color: #ffff;

}

.switcher p {
  padding: 5px;

}

.nav {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.links {
  color: #ffff;
  display: flex;
  justify-content: center;
}

.links li {
  padding-left: 10px;
  cursor: pointer;
}

.hovered {
  cursor: pointer;
}

.helpPannel {
  display: flex;
  align-items: center;
}

img {
  width: 30%;
}

.ul {
  border-bottom: 1px solid white;
}

.mobileRow {
  align-items: center;
  display: flex;
}

.wrapper {
  display: flex;
}

.category {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 0 24px;
  padding: 10px 0;
  width: 90%;
}

/* SearchComponent.module.css */

@media (max-width: 767px) {
  .logo {
    max-height: 30px;
  }

  .links {
    display: none;
  }

  .burgerMenu {
    display: block;
  }

  .switcher {
    display: none;
  }
}

@media (max-width: 767px) {
  .links {
    display: none;
  }

  .mobileHeader {
    height: 100%;
  }

  .row {
    align-items: center;
    padding: 0;
    padding: 10px 0 10px 0;
  }

  .logo {
    padding: 0;
  }
}