.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffff
}

.imageBlock {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.wrapper {
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 2.8125vw;
  text-shadow: 0 3px 6px #000;
}

.subtitle {
  font-size: 1.35416666667vw;
}

.btn {
  min-width: 8.22916666667vw;
}

@media (max-width: 768px) {
  .title {
    font-size: 5.60747663551vw;
    font-weight: 700;
  }

  .imageBlock {
    height: 240px;
  }

  .subtitle {
    font-size: 4.20560747664vw;
  }
}