/* LoginContainer.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 70vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.inputGroup {
  margin-bottom: 16px;
  padding: 5px;

}

.p {
  margin: 5px 0 5px 0;
  font-style: italic;
  font-weight: 300
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  background-color: #0000;

}

.forgotPassword {
  margin-left: 8px;
  font-size: 12px;
  color: #007bff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 12px;
}

.register {
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.submit {
  color: white;
  background-color: black;
  margin-top: 10px;
}

.isMobile {
  margin-bottom: 71px;
}